/* 
 * --------------------------------------------------------------------------------------------------
 * 页面样式
 * --------------------------------------------------------------------------------------------------
 */

/* 印象江阴 start */
.section1Con {
    padding-top: 30px;
}

.section1Con .left {
    padding-bottom: 15px;
    position: relative;
    float: left;
    width: 378px;
    border: 1px solid #fda355;
    background-color: rgba(255, 255, 255, .5);
}

.section1Con .name {
    padding: 22px 0 12px 26px;
    font-weight: bold;
    font-size: 36px;
    color: #fd913e;
    border-bottom: 1px solid #fbdccb;
}

.section1Con .name em {
    color: #333;
}

.section1Con .desc {
    margin: 12px 10px;
    height: 196px;
    font-size: 18px;
    line-height: 28px;
    color: #666;
}

.section1Con .btn {
    padding: 0 4px 0 14px;
    margin-left: 12px;
    display: inline-block;
    height: 32px;
    line-height: 32px;
    font-size: 20px;
    color: #fda355;
    box-sizing: border-box;
    border: 1px solid #fda355;
    border-radius: 32px;
}


.section1Con .right {
    position: relative;
    float: right;
    width: 610px;
    height: 358px;
}

.section1Con .right video {
    width: 100%;
    height: 100%;
}



/* end end end end end */

/* 邂逅江阴 start */
.section2Con {
    padding-top: 40px;
}

.section2Con .swiper-pagination {
    bottom: 0px;
}

.section2Con .left {
    position: relative;
    float: left;
    width: 525px;
}

.slider2 {
    width: 525px;
    height: 320px;
}

.slider2 .img {
    display: block;
    width: 525px;
    height: 300px;
    border: 2px solid #fd913e;
    box-sizing: border-box;
}

.slider2 .swiper-pagination-bullet {
    width: 30px;
    height: 8px;
    border-radius: 8px;
    border: 1px solid #fd913e;
    background-color: #f9f5fc;
    box-sizing: border-box;
    opacity: 1;
}

.slider2 .swiper-pagination-bullet-active {
    background-color: #fd913e;
}

.section2Con .right {
    position: relative;
    float: right;
    width: 456px;
}

.section2Con .right ul {}

.section2Con .right a {
    display: block;
    padding: 6px 0;
    border-bottom: 1px dashed #fd913e;
    box-sizing: border-box;
}

.section2Con .right i {
    padding: 5px 0;
    display: inline-block;
    vertical-align: middle;
    font-weight: bold;
    font-size: 36px;
    color: #fd913e;
}

.section2Con .right em {
    margin: 0 16px;
    display: inline-block;
    vertical-align: middle;
    width: 3px;
    height: 28px;
    background-color: #fd913e;
}

.section2Con .right span {
    display: inline-block;
    vertical-align: middle;
    width: 350px;
    font-size: 18px;
    color: #313736;
    max-height: 50px;
}

/* end end end end end */

/* 畅游江阴 start */

.section3Con .sourceCon {
    margin-left: 102px;
    padding-bottom: 30px;
}

.section3Con .detail {
    float: left;
    margin-right: 12px;
    margin-bottom: 1px;
    padding: 12px 11px 22px;
    width: 490px;
    height: 464px;
    background: url('//img1.40017.cn/cn/s/2019/zt/pc/200102/border1.png') no-repeat;
    box-sizing: border-box;
}

.section3Con .source {
    position: relative;
    height: 430px;
    background: #fff;
}

.section3Con .source .angle {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 98px;
    height: 65px;
    background: url('//img1.40017.cn/cn/s/2019/zt/pc/200102/angle.png') no-repeat;
}

.section3Con .source .img {
    width: 470px;
    height: 220px;
}

.section3Con .source .img img {
    width: 100%;
    height: 100%;
}

.section3Con .source .title {
    padding: 10px 18px 0;
    font-size: 24px;
    color: #333;
    overflow: hidden;
}

.section3Con .source .subtit {
    padding: 2px 18px 0;
    padding-left: 18px;
    padding-right: 18px;
    height: 50px;
    font-size: 18px;
    color: #666;
    overflow: hidden;
}

.section3Con .source .bottom {
    padding: 20px 18px 0;
    text-align: center;
}

.section3Con .source .left {
    float: left;
    font-size: 20px;
    color: #333;
}

.section3Con .source .left span {
    color: #ff480f;
    font-weight: bold;
}

.section3Con .source .left em {
    font-size: 36px;
}

.section3Con .source .right {
    float: right;
}

.section3Con .source .btn {
    display: inline-block;
    width: 248px;
    height: 58px;
    line-height: 47px;
    text-align: center;
    font-size: 24px;
    color: #141005;
    background: url('//img1.40017.cn/cn/s/2019/zt/pc/200102/btn_3.png') no-repeat;
    background-size: 100% 100%;
}

.section3Con .source .btn:hover {
    background: url('//img1.40017.cn/cn/s/2019/zt/pc/200102/btn_3_hover.png') no-repeat;
    background-size: 100% 100%;
}

.section3Con .more {
    padding-top: 30px;
    text-align: center;
}

.section3Con .link {
    display: inline-block;
    width: 597px;
    height: 82px;
    background: url('//img1.40017.cn/cn/s/2019/zt/pc/200102/btn_more.png') no-repeat;
}

.section3Con .link:hover {
    background: url('//img1.40017.cn/cn/s/2019/zt/pc/200102/btn_more_hover.png') no-repeat;
}

/* end end end end end */

/* 玩转江阴 start */

.section4Con {
    padding-top: 50px;
}

.section4Con .detail {
    float: left;
    margin-bottom: 40px;
}

.section4Con .detail:nth-child(2n) {
    margin-left: 30px;
}

.section4Con .source {
    width: 478px;
}

.section4Con .source .img {
    position: relative;
    width: 478px;
    height: 336px;
}

.section4Con .source .img img {
    width: 100%;
    height: 100%;
}
.section4Con .source .img .smask{
    display: none;
}

.section4Con .source .img .smask {
    display: block;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, .5);
}

.section4Con .source .title {
    margin-top: 10px;
    padding: 0 10px;
    height: 52px;
    line-height: 52px;
    font-size: 20px;
    text-align: center;
    color: #fff;
    background-color: #fd913e;
}

.section4Con .more {
    padding-top: 10px;
    text-align: center;
}

.section4Con .link {
    display: inline-block;
    width: 190px;
    height: 46px;
    line-height: 46px;
    text-align: center;
    font-size: 24px;
    color: #fd913e;
    border: 2px solid #fd913e;
    border-radius: 10px;
}

/* end end end end end */

/* 好物江阴 */
.section5Con {}

/* end end end end end */

/* 一键互动玩江阴 start */

.section6Con .left {
    position: relative;
    float: left;
    width: 660px;
    height: 370px;
    box-sizing: border-box;
}

.section6Con .left .mymap {
    width: 100%;
    height: 100%;
    background: #fff;
    border: 2px solid #fd913e;
}

.section6Con .right {
    position: relative;
    padding-top: 26px;
    float: right;
    width: 270px;
}

.section6Con .right a {
    margin-bottom: 50px;
    display: block;
    cursor: pointer;
    width: 252px;
    height: 70px;
    line-height: 70px;
    text-align: center;
    font-size: 28px;
    color: #fff;
    background-color: #fd913e;
    box-sizing: border-box;
    border-radius: 70px;
}

.section6Con .right a:hover {
    /* background: url('//img1.40017.cn/cn/s/2019/zt/pc/200102/btn_hover.png') no-repeat; */
}


.section6Con .wb {
    margin-left: 120px;
    float: left;
}

.section6Con .wx {
    margin-right: 120px;
    float: right;
}

.section6Con .ewmCon {
    width: 286px;
}

.section6Con .ewmCon .ewm {
    width: 286px;
    height: 286px;
    border: 2px solid #fd913e;
    box-sizing: border-box;
}

.section6Con .ewmCon.wb .ewm {
    /* width: 286px;
    height: 286px; */
}

.section6Con .ewmCon .line1 {
    font-size: 24px;
    line-height: 60px;
    font-weight: bold;
    color: #fd913e;
    text-align: center;
}

/* end end end end end */



/* footer */
.foot {
    padding: 30px 0;
    font-size: 18px;
    color: #fff;
    background-color: #7c72db;
}