<!DOCTYPE html>
<html>
<%ctx.url="https://www.ly.com"%>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="keywords" content="欢乐宁夏年，宁夏过年特惠，同程旅游" />
    <meta name="description" content="欢乐宁夏年，宁夏旅游产品大放价啦！" />
    <title>欢乐宁夏年_宁夏过年特惠_同程旅游</title>
    <!-- pc公共样式 -->
    <% includeId = cnztjscss %>
    
    <link rel="stylesheet" type="text/css" href="//file.40017.cn/fed/pc/jquery/css/slider/0.0.5/slider.css" />
    <link rel="stylesheet" href="//file.40017.cn/fed/pc/jquery/css/slider2/0.0.1/slider2.css" />
    <link rel="stylesheet" href="https://file.40017.cn/fed/pc/jquery/css/mLogin/0.0.3/mLogin.css?v=2019">
    <link rel="stylesheet" href="//css.40017.cn/cn/min/??/cn/s/2019/zt/pc/200102/200102.css?v=20200102.3" />
</head>

<body>
    <% includeId = cnzthead %>
    
    <% 
        ctx.zhuantiFn = (channelid,pagesize) => {
            return new Promise((resolve, reject) => {
                ctx.request({
                    url: `http://www.ly.com/scenery/zt/ZhuanTiAjax/ZhuanTiJsp.aspx?action=GETSPMSCENERYJSP&channelid=${channelid}&PageSize=${pagesize || 100}`,
                    headers: {
                        'user-agent': ctx.reqHeader['user-agent']
                    },
                }, (error, response, body) => {
                    if (!error) {
                        if (response.statusCode == 200) {
                            let data = {
                                List: []
                            };
                            try {
                                data = JSON.parse(body);
                            } catch (ex) {

                            }
                            return resolve(data);
                        } else if (response.statusCode == 302 || response.statusCode == 301) {
                            const redirectUrl = response.headers['location'];
                            ctx.redirect(redirectUrl);
                        }
                    } else {
                        ctx.error = error
                    }
                    return resolve(null);
                });
            })
        }
    %>
    <% 
        ctx.weatherFn = (cityid) => {
            return new Promise((resolve, reject) => {
                ctx.request({
                    url: `https://www.ly.com/scenery/AjaxHelper/ZhuanTiHelp/ZTAjaxCall.aspx?action=GETSCENERYWEATHER&cityId=${cityid}`,
                    headers: {
                        'user-agent': ctx.reqHeader['user-agent']
                    },
                }, (error, response, body) => {
                    if (!error) {
                        if (response.statusCode == 200) {
                                let data = [];
                            try {
                                data = JSON.parse(body);
                            } catch (ex) {

                            }
                            return resolve(data);
                        } else if (response.statusCode == 302 || response.statusCode == 301) {
                            const redirectUrl = response.headers['location'];
                            ctx.redirect(redirectUrl);
                        }
                    } else {
                        ctx.error = error
                    }
                    return resolve(null);
                });
            })
        }
    %>
    <%
        ctx.imgformat =  (img, wid, hei) => {
            if (img.match(/.gif$/)) {
                return img
            }
            var regHttp = /^(http:|https:)/;
            var reg = /\/\/((pic3\.40017\.cn\/)|(pic4\.40017\.cn\/)|(pic5\.40017\.cn\/))(?!.*(_00.))(.*)/;
            var img = img && regHttp.test(img) ? img.replace(/(http:|https:)/, 'https:') : 'https:' + img;
            var alreadySize = /_([0-9]{2,})x([0-9]{2,})_00/;
            img = img.match(alreadySize) && img.match(alreadySize).length > 0 ? img.replace(alreadySize, '') : img;
            return reg.test(img) && wid && hei ? (img.replace(/(.png|.jpg)/i, "_" + wid + "x" + hei + "_00" + /(.png|.jpg)/i.exec(img)[0])) : img;

        }
    %>

<!-- * -->
<!-- ** -->
<!-- *** -->
<!-- **** -->
<!-- ***** -->
<div class="both">
    <div class="top">
        <img class="imgbg" src="//img1.40017.cn/cn/s/2019/zt/pc/200102/top_bg_1.jpg">
        <img class="imgbg" src="//img1.40017.cn/cn/s/2019/zt/pc/200102/top_bg_2.jpg">
        <img class="imgbg" src="//img1.40017.cn/cn/s/2019/zt/pc/200102/top_bg_3.jpg">
    </div>
    <!-- 民风民俗介绍(44947) -->
    <div class="section">
        <div class="bg1">
        </div>
        <div class="section1">
            <div class="tit"><img src="//img1.40017.cn/cn/s/2019/zt/pc/200102/tit1.png" /></div>
            <div class="sectionCon section1Con clearfix">
                <div class="bg">
                    <img src="//img1.40017.cn/cn/s/2019/zt/pc/200102/section1_bg.png">
                </div>
                <%?
                    ctx.zhuantiFn(44947).then((data) =>{
                        ctx.data = data;
                        aries();
                    });
                %>
                <div class="left">
                    <!-- <video src="https://video.40017.cn/uploadtool/dazhoubian/20190813/190813103105977258128224.MP4" controls="controls">您的浏览器暂不支持视频播放~</video> -->
                    
                    <div class="slider">
                        <div class="source clearfix mSlider_con">
                            <div class="slider_ul">
                                <%if(ctx.data && ctx.data.List && ctx.data.List.length){%>
                                    <%ctx.data.List.slice(0, 6).forEach(function(v,k){ %>
                                        <li class="clearfix">
                                            <img class="img" src="<%=v.SceneryImg%>" />
                                        </li>
                                    <%}
                                )} %>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="right">
                    <div class="name"><%=ctx.data && ctx.data.List && ctx.data.List.length ? ctx.data.List[0].SceneryName : ''%></div>
                    <div class="desc"><%=ctx.data && ctx.data.List && ctx.data.List.length ? ctx.data.List[0].Summary : ''%></div>
                    <a class="btn" target="_blank" href="http://www.nxtour.com.cn/index.do"></a>
                </div>
            </div>
        </div>
    </div>

    <!--  -->
    <!-- <div class="section">
        <div class="bg2">
        </div>
        <div class="section2">
            <div class="tit"><img src="//img1.40017.cn/cn/s/2019/zt/pc/200102/tit2.png" /></div>
            <div class="titsub">
                <div class="t">前往预订飞机票</div>
                <a class="btn">送宁夏一日游 ></a>
            </div>
            <div class="sectionCon section2Con clearfix">
                <div class="bg">
                    <img src="//img1.40017.cn/cn/s/2019/zt/pc/200102/section2_bg.png">
                </div>
                <div class="intro">
                    <p><i>1</i>粉丝节期间，只要通过同程旅游预订目的地为宁夏的机票，随即赠送【宁夏一日游】1份，仅限前1000个名额</p>
                    <p><i>2</i>宁夏一日游包含：景区首道门票；优秀导游服务；往返空调旅游车；旅行社责任险；旅游意外险</p>
                    <p><i>3</i>
                        需要至少提前一天联系客服预约线路，并确定集合时间及地点。<br>
                        预约热线：0512-81669437<br>
                        预约须知：机票预订完成24小时之后 方可联系客服预约线路<br>
                        工作时间：周一至周日早上10:30-17:00<br>
                    </p>
                </div>
            </div>
        </div>
    </div> -->
    <!-- 景点(44951) -->
    <div class="section">
        <div class="section3">
            <div class="tit"><img src="//img1.40017.cn/cn/s/2019/zt/pc/200102/tit3.png" /></div>
            <div class="titsub">
                <img src="//img1.40017.cn/cn/s/2019/zt/pc/200102/red.png" />
                <div class="value">
                    <div class="price">¥<em>10</em></div>
                    <div class="txt"><h1>门票红包</h1><p>购买宁夏在线支付门票产品可用</p></div>
                </div>
                <div class="btn hbBtn1">立即领取</div>
            </div>
            <div class="sectionCon section3Con">
                <div class="sourceCon">
                    <div class="source0 sourceBlock">
                        <div class="clearfix">
                            <%?
                                ctx.zhuantiFn(44951).then((data) =>{
                                    ctx.data = data;
                                    aries();
                                });
                            %>
                            <%if(ctx.data && ctx.data.List && ctx.data.List.length){%>
                                <%ctx.data.List.slice(0, 6).forEach(function(v,k){ %>
                                    <a class="detail" target="_blank" href="<%=v.Purl%>">
                                        <div class="source">
                                            <div class="angle"></div>
                                            <div class="img">
                                                <img src="<%=v.SceneryImg%>" />
                                            </div>
                                            <div class="title ellipsis"><%=v.SceneryName%></div>
                                            <div class="subtit ellipsis"><%=v.Summary%></div>
                                            <div class="bottom clearfix">
                                                <div class="left">
                                                        <span>¥<em><%=v.AmountAdvance%></em></span>起
                                                </div>
                                                <div class="right">
                                                    <div class="btn"></div>
                                                </div>
                                            </div>
                                        </div>
                                    </a>
                                <%}
                            )} %>
                        </div>
                        <div class="more">
                            <a class="link" href="https://so.ly.com/scenery?q=%E5%AE%81%E5%A4%8F" target="_blank"></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        
    </div>

    <!-- 线路(44952) -->
    <div class="section">
        <div class="section4">
            <div class="tit"><img src="//img1.40017.cn/cn/s/2019/zt/pc/200102/tit4.png" /></div>
            <!-- <div class="titsub">
                <img src="//img1.40017.cn/cn/s/2019/zt/pc/200102/red.png" />
                <div class="value">
                    <div class="price">¥<em>300</em></div>
                    <div class="txt"><h1>线路红包</h1><p>购买宁夏线路产品可使用</p></div>
                </div>
                <div class="btn hbBtn2">立即领取</div>
            </div> -->
            <div class="sectionCon section4Con">
                <div class="bg">
                    <img src="//img1.40017.cn/cn/s/2019/zt/pc/200102/section4_bg.png">
                </div>
                <div class="sourceCon">
                    <div class="source0 sourceBlock">
                        <div class="clearfix">
                            <%?
                                ctx.zhuantiFn(44952).then((data) =>{
                                    ctx.data = data;
                                    aries();
                                });
                            %>
                            <%if(ctx.data && ctx.data.List && ctx.data.List.length){%>
                                <%ctx.data.List.slice(0, 6).forEach(function(v,k){ %>
                                    <a class="detail" target="_blank" href="<%=v.Purl%>">
                                        <div class="source">
                                            <div class="img">
                                                <img src="<%=v.SceneryImg%>" />
                                            </div>
                                            <div class="title multi-ellipsis--l2"><%=v.SceneryName%></div>
                                            <div class="bottom">
                                                <div class="btn"></div>
                                            </div>
                                        </div>
                                    </a>
                                <%}
                            )} %>
                        </div>
                        <div class="more">
                            <a class="link" href="https://gny.ly.com/list?prop=0&src=%E6%97%A0%E9%94%A1&dest=%E5%AE%81%E5%A4%8F&label=buttom&action=list" target="_blank"></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        
    </div>

    <!--  -->
    <div class="section">
        <div class="section5">
                <div class="tit"><img src="//img1.40017.cn/cn/s/2019/zt/pc/200102/tit5.png" /></div>
                <div class="sectionCon section5Con">
                    <div class="bg">
                        <img src="//img1.40017.cn/cn/s/2019/zt/pc/200102/section5_bg.png">
                    </div>
                    <div class="left">
                        <div class="mymap" id="baiduMap"></div>
                    </div>
                    <div class="right">
                        <a href="//www.ly.com/huochepiao/" target="_blank">
                        <img src="//img1.40017.cn/cn/s/2019/zt/pc/200102/train_icon.png" />火车查询&gt;</a>
                        <a href="//www.ly.com/FlightQuery.aspx" target="_blank">
                        <img src="//img1.40017.cn/cn/s/2019/zt/pc/200102/plane_icon.png" />飞机查询&gt;</a>
                        <a href="//so.ly.com/scenery?q=%E5%AE%81%E5%A4%8F" target="_blank">
                            <img src="//img1.40017.cn/cn/s/2019/zt/pc/200102/scen_icon.png" />景点查询&gt;</a>
                    </div>
                </div>
            </div>
    </div>
</div>
<!-- ***** -->
<!-- **** -->
<!-- *** -->
<!-- ** -->
<!-- * -->


<% includeId = cnztfoot %>

<!-- 弹框 -->
<div class="mask none"></div>
<!-- 领取成功 -->
<div class="successHbPop hbPop1 none">
    <div class="hbTop">
        <img src="https://file.40017.cn/img140017cnproduct/cn/s/2019/zt/pc/212302/hb_pop_top.png" alt="">
    </div>
    <div class="hbCon">
        <h2>领取成功！</h2>
        <p>宁夏文旅厅送您10元景点门票红包！<br>美丽新宁夏，理想度个假！</p>
        <div class="hbPop">
            <div class="price">
                &yen;<em>10</em>
            </div>
            <div class="hbMessage">
                <h1>宁夏门票专享红包</h1>
                <p>购买宁夏在线支付门票产品可用</p>
            </div>
        </div>
        <p class="hbTip">红包已放入您的同程账户，可至“同程APP-我的-红包优惠券-红包”中查看！</p>
    </div>
    <div class="closeBtn">
        <img src="https://file.40017.cn/img140017cnproduct/cn/s/2019/zt/pc/212302/close_btn.png" alt="">
    </div>
</div>
<div class="successHbPop hbPop2 none">
    <div class="hbTop">
        <img src="https://file.40017.cn/img140017cnproduct/cn/s/2019/zt/pc/212302/hb_pop_top.png" alt="">
    </div>
    <div class="hbCon">
        <h2>领取成功！</h2>
        <p>宁夏文旅厅送您300元景点门票红包！<br>美丽新宁夏，理想度个假！</p>
        <div class="hbPop">
            <div class="price">
                &yen;<em>300</em>
            </div>
            <div class="hbMessage">
                <h1>宁夏线路专享红包</h1>
                <p>购买宁夏线路产品可使用</p>
            </div>
        </div>
        <p class="hbTip">红包已放入您的同程账户，可至“同程APP-我的-红包优惠券-红包”中查看！</p>
    </div>
    <div class="closeBtn">
        <img src="https://file.40017.cn/img140017cnproduct/cn/s/2019/zt/pc/212302/close_btn.png" alt="">
    </div>
</div>
<!-- 领取失败 -->
<div class="failHbPop none">
    <div class="hbTop">
        <img src="https://file.40017.cn/img140017cnproduct/cn/s/2019/zt/pc/212302/hb_pop_top.png" alt="">
    </div>
    <div class="hbCon">
        <h2>啊哦~红包与您擦肩而过</h2>
        <p>重新领取一次吧！</p>
        <div class="failIcon">
            <img src="https://file.40017.cn/img140017cnproduct/cn/s/2019/zt/pc/212302/hb_pop_icon.png" alt="">
        </div>
        <div class="hbPopBtn">重新领取</div>
    </div>
    <div class="closeBtn">
        <img src="https://file.40017.cn/img140017cnproduct/cn/s/2019/zt/pc/212302/close_btn.png" alt="">
    </div>
</div>
<!-- 已经领取过 -->
<div class="hasGetHbPop none">
    <div class="hbTop">
        <img src="https://file.40017.cn/img140017cnproduct/cn/s/2019/zt/pc/212302/hb_pop_top.png" alt="">
    </div>
    <div class="hbCon">
        <h2>您已经领取过该红包了～</h2>
        <p>去看看景点吧～</p>
        <div class="failIcon">
            <img src="https://file.40017.cn/img140017cnproduct/cn/s/2019/zt/pc/212302/hb_pop_icon.png" alt="">
        </div>
        <div class="hbPopBtn">确定</div>
    </div>
    <div class="closeBtn">
        <img src="https://file.40017.cn/img140017cnproduct/cn/s/2019/zt/pc/212302/close_btn.png" alt="">
    </div>
</div>

<!-- 隐藏域 -->
<input type="hidden" id="channelId" value="44945">

<!--脚本-->
<script src="//js.40017.cn/cn/min/??/cn/s/2016/touch/zt/ztc/resetRefID.3.5.js?v=2016122001"></script>
<script type="text/javascript" src="//file.40017.cn/combo/fed/??pc/jquery/js/jquery.min.js,pc/jquery/js/util/0.0.1/util.js,pc/jquery/js/slider/0.0.5/slider.js"></script>
<script src="//file.40017.cn/fed/pc/jquery/js/slider2/0.0.1/slider2.js"></script>
<script type="text/javascript" src="https://file.40017.cn/fed/pc/jquery/js/mLogin/0.0.3/mLogin.js"></script>
<script type="text/javascript" src="https://api.map.baidu.com/api?v=2.0&ak=etBRsREU2D0Zj6enHl69ZsbhS8Tqqeae&s=1"></script>
<script src="//js.40017.cn/cn/min/??/cn/s/2019/zt/pc/200102/200102.js?v=20200102.4"></script>
</body>

</html>